<!DOCTYPE html>
<html>
    <head>
        <title>Vintage Library</title>
        <meta charset="utf-8"/>
        <style>
            table,th,td{border:1px solid #cccccc}
          </style>
    <body>
